<div class="container">
  <header class="d-flex justify-content-center py-3">
    <% if (user) { %>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a href="/" class="nav-link" aria-current="page">Home</a>
      </li>
      <li class="nav-item">
        <a href="/todos" class="nav-link">Todos</a>
      </li>
    </ul>
    <button class="btn btn-secondary" type="button">Logout</button>

    <%} else { %>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a href="/todos" class="nav-link" aria-current="page">Home</a>
      </li>
      <li class="nav-item">
        <a href="/users/login" class="nav-link">Login</a>
      </li>
    </ul>
    <% } %>
  </header>
</div>
