<div class="px-4 py-5 my-5 text-center">
  <img
    class="d-block mx-auto mb-4"
    src="/images/download.jpeg"
    alt=""
    width="72"
    height="57"
  />
  <h1 class="display-5 fw-bold">Your todos are your todos not ours !</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati
      pariatur laboriosam maxime aut reprehenderit dolores quae animi, quis nemo
      soluta aliquam tenetur? Repellendus dignissimos veritatis dolor similique,
      excepturi asperiores voluptas?
    </p>
  </div>
</div>
