<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('./partials/header') %>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    
  </body>
</html>
